# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
backend/venv

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Test synthetic dataset files
test_real_dataset.csv
test_synthetic_dataset.csv
