<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
        <add name="PythonHandler" path="*" verb="*" 
             modules="FastCgiModule" 
             scriptProcessor="/usr/bin/python3|/usr/local/lib/python3.9/site-packages/wfastcgi.py"
             resourceType="Unspecified" 
             requireAccess="Script"/>
    </handlers>
</system.webServer>
</configuration>